:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

body{
    line-height: 1,7;
    color: ver(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-2 {
    color: ver(--dark);
    font-weight: 1000;
}



section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.btn{
    padding: 14px 18px;
    border-width: 2px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.hero {
    background-image: url("https://github.com/zumi1215/zumi1215/blob/main/stock-1863880_1280.jpg?raw=true");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #10060686;
    z-index: -1;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}

.icon {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary);
    font-size: 32px;
    border-radius: 100px;
}

.service {
    position: relative;
    overflow: hidden;
}

.service::after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.35s ease;
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .icon {
    background-color: #fff;
    color: var(--primary);
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.categories {
    padding-top: 40px;
}

.list1,
.list2,
.list3,
.list4 {
    padding: 10px; 
    
}

ul {
    list-style: none;
}

h3 {
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    margin-top: 100px;
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .footer-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .footer-content form input,
  .footer-content form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .footer-content form button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
